*{
    margin: 0;
}
h1{
    color: blueviolet;
}
h4{
    background-color: palevioletred;
    display: inline;
    color: whitesmoke;
}
/* p{
    margin-bottom: 10px;
    color: indianred;
    background-color: aquamarine;
    width: 50%;
    height: 50px;
} */
#short{
    color:whitesmoke;
    background-color: gray;
    text-align: center;
}

.player{
    width: 100%;
    text-align: right;
    background-color: black;
    color: red;
}

/* div p{
    background-color: white;
    color: red;
    height: 20px;
} */

#fifth,li{
    font-size: 30px;
}
.yellow{
    background-color: yellow;
}
.bold{
    font-weight: 900;
}
input[type="text"]{
    display: block;
    margin-bottom: 5px;
    border: 2px solid red;
    padding: 10px;
}
span{
    color: whitesmoke;
}
input[type="password"]{
    margin-bottom: 60px;
}
.blog{
    margin-bottom: 20px;
    background-color: aquamarine;
    border: 5px solid plum;
    border-radius: 15px;
    /* height: 100px; */
    text-align: justify;
    padding:15px;
}